@using Calrom.Training.AuctionHouse.ViewModels
@model IndividualProductViewModel

@{
    ViewBag.Title = Model.ItemName + " Listing Page";
}
<h2>@ViewBag.Title.</h2>

<h3>Item Name: @Model.ItemName</h3>
<table>
    <tr>
        <td>
            Item ID: @Model.ItemID
        </td>
        <td>
            Starting Bid: £@Model.ItemPrice
        </td>
        <td>
            Current Bid: £@Model.CurrentBid
        </td>
        <td>
            Item Description: @Model.ItemDescription
        </td>
        <td>
            <img src="/Images/@Model.ImageSrc" class="images" />
        </td>
    </tr>
</table>

@if (Model.IsAuthenticated)
{
    @Html.Partial("_BidProductForm", new BidProductViewModel { ItemID = Model.ItemID });
}