@using Calrom.Training.AuctionHouse.Web.Models
@model ListingsViewModel

@{
    ViewBag.Title = "Listings";
}
<h2>@ViewBag.Title.</h2>

@if (@Model.IsAuthenticated)
{
    <h3>@Html.ActionLink("New Listing", "NewProduct", "Product")</h3>
}

<h3>Current listings.</h3>

<p>Listings will be displayed here.</p>
@foreach (var product in Model.ProductList)
{
    <table>
        <tr>
            <td>
                @Html.ActionLink($"Item Name: {@product.ItemName}", "IndividualProduct", "Product", new { ItemId = product.ItemID }, null)
            </td>
            <td>
                Starting Bid: £@product.ItemPrice
            </td>
            <td>
                Current Bid: £@product.CurrentBid
            </td>
            <td>
                <img src="@product.ImageSrc" class="images" />
            </td>
            @*<td>
                @Html.ActionLink("View this listing", "IndividualProduct", "Product", new { ItemId = product.ItemID }, null)
            </td>*@
        </tr>
    </table>
}