@model Calrom.Training.AuctionHouse.Web.Models.ProductViewModel
@using Calrom.Training.AuctionHouse.Web.Controllers

@{
    ViewBag.Title = "New Listing";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("NewProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table>
    <tr>
        <td>
            @Html.TextBoxFor(m => m.ItemName, new { placeholder = "Item Name" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.ItemPrice, new { placeholder = "Starting Bid" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.ItemDescription, new { placeholder = "Description" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.ImageFile, new { type = "file" })
        </td>
        <td>
            <input type="submit" value="Submit">
        </td>
    </tr>
</table>
    
}
<input type="button" value="Populate" onclick="onClick()">
<script>
    function onClick() {
        @{ 
            var controller = new ProductController();
            controller.Populate();
         }
        alert("Listings have been created!");
    }
</script>

