@using Calrom.Training.SocialMedia.Web.Models
@model TimeLineViewModel

@{
    ViewBag.Title = "Borker!";
}
@Scripts.Render("~/Content/home/scripts")

<div class="background-shibe" id="home-content">
    <div class="bork-timeline" id="bork-current" data-newborkurl="@Url.Action("AddBork", "Home")">
        @Html.Partial("_BorkInputForm", new BorkViewModel())
        @foreach (var bork in Model.Borks)
        {
            @Html.Partial("_BorkBox", bork)
        }
        @Html.Partial("_PageForm", @Model.PageView)
    </div>

    <div class="all-bork-timeline" id="bork-all">
        <div class="page-container"><div class="page-text">Recent Borks</div></div>
        @foreach (var bork in Model.AllBorks)
        {
            @Html.Partial("_BorkBox", bork)
        }
    </div>
    @Html.Partial("_SearchBorks", new SearchViewModel())
</div>
