@using Calrom.Training.SocialMedia.Web.Models
@model TimeLineViewModel

@{
    ViewBag.Title = "Home Page";
}

<head>
    @*<div>
            <h1>ASP.NET</h1>
            <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net">Learn more &raquo;</a></p>
        </div>

        <div>
            <div>
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div>
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div>
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
</head>

<div class="background-shibe">
    <div class="bork-timeline">
        @Html.Partial("_BorkInputForm", new BorkViewModel())
        @foreach (var bork in Model.Borks)
        {
            using (Html.BeginForm("Account", "Account", FormMethod.Post))
            {
                @Html.Hidden("userId", bork.UserId, new { value = bork.UserId })
                <div class="bork-container">
                    <div class="image-container">
                        <img src="@Model.GetUserPP(bork.UserId)" />
                    </div>
                    <ul class="single-bork">
                        <input type="submit" class="fake-button" value= @Model.GetUserName(bork.UserId) />
                        <li>@bork.BorkText</li>
                        <li>Borked: @bork.DateBorked</li>
                    </ul>
                </div>
            }
        }
        @Html.Partial("_PageForm", @Model.PageView)
    </div>

    <div class="all-bork-timeline">
        <div class="page-container"><div class="page-text">Recent Borks</div></div>
        @foreach (var bork in Model.AllBorks)
        {
            using (Html.BeginForm("Account", "Account", FormMethod.Post))
            {
                @Html.Hidden("userId", bork.UserId, new { value = bork.UserId })
                <div class="bork-container">
                    <div class="image-container">
                        <img src="@Model.GetUserPP(bork.UserId)" />
                    </div>
                    <ul class="single-bork">
                        <input type="submit" class="fake-button" value=@Model.GetUserName(bork.UserId) />
                        <li>@bork.BorkText</li>
                        <li>Borked: @bork.DateBorked</li>
                    </ul>
                </div>
            }
        }
    </div>
</div>
