@model Calrom.Training.AuctionHouse.Web.Models.AccountViewModel

@{
    ViewBag.Title = "User Account";
}

<h2>@ViewBag.Title.</h2>

<table class="listing">
    <tr>
        <td>
            User ID: @Model.UserID
        </td>
        <td>
            Username: @Model.Username
        </td>
        <td>
            Date of Birth: @Model.DateOfBirth
        </td>
    </tr>
</table>

@if (Model.AllUserBids.Count != 0)
{
    <h3>Live products</h3>
    foreach (var bid in Model.AllUserBids)
    {
        <table class="listing">
            <tr>
                <td>
                    Item ID: @bid.ItemID
                </td>
                <td>
                    Item Name: @bid.ItemName
                </td>
                <td>
                    Amount Bidded: @bid.Amount
                </td>
                <td>
                    Product Link: @Html.ActionLink("View this listing", "IndividualProduct", "Product", new { ItemId = bid.ItemID }, null)
                </td>
            </tr>
        </table>
    }

}