@using CustomRegionEditor.ViewModels
@model EditViewModel

<div class="edit-container flex-column">
    @if (Model.IsEditing)
    {
        <div class="region-info-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Regions</th>
                    <th>Save Changes</th>
                </tr>
                <tr class="info-table-header" data-savechangesurl="@Url.Action("SaveChanges", "Home")">
                    <td class="model-id">@Model.CustomRegionGroupViewModel.ID</td>
                    <td><input class="model-name" type="text" value=@Model.CustomRegionGroupViewModel.Name /></td>
                    <td><input class="model-description" type="text" value=@Model.CustomRegionGroupViewModel.Description /></td>
                    <td>@Model.CustomRegionGroupViewModel.CustomRegions.Count</td>
                    <td><input type="button" value="Save" class="save-changes-button" /></td>
                </tr>
            </table>
        </div>

        <div class="edit-info-container">
            <table class="table-header" data-deleteurl="@Url.Action("DeleteRegion", "Home")" data-deleteentryurl="@Url.Action("DeleteEntry", "Home")" data-addurl="@Url.Action("AddRegion", "Home")" regionid="@Model.CustomRegionGroupViewModel.ID">
                <tr>
                    <th>ID</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Airport</th>
                    <th>Remove</th>
                </tr>
                @foreach (var region in Model.CustomRegionGroupViewModel.CustomRegions)
                {
                    <tr class="single-region-entry">
                        <td>@region.ID</td>
                        <td>@region.Region.Name</td>
                        <td>@region.Country.Name</td>
                        <td>@region.State.Name</td>
                        <td>@region.City.Name</td>
                        <td>@region.Airport.Name</td>
                        <td><input type="button" value="Delete" class="delete-button" /></td>
                    </tr>
                }
                <tr class="add-region-row">
                    <td>Enter One</td>
                    <td><input type="text" placeholder="Region" class="region-text-box new-entry-input" /></td>
                    <td><input type="text" placeholder="Country" class="country-text-box new-entry-input" /></td>
                    <td><input type="text" placeholder="State" class="state-text-box new-entry-input" /></td>
                    <td><input type="text" placeholder="City" class="city-text-box new-entry-input" /></td>
                    <td><input type="text" placeholder="Airport" class="airport-text-box new-entry-input" /></td>
                    <td><input type="button" value="Add" class="add-button" /></td>
                </tr>
            </table>
        </div>
    }
</div>