@using CustomRegionEditor.ViewModels
@model SearchViewModel


<div class="search-results-container flex-column">
    @if (Model.IsSearching)
    {
        <table>
            @if (Model.ValidResults)
            {
                <tr class="table-header" data-deleteurl="@Url.Action("DeleteRegionGroup", "Home")" data-editurl="@Url.Action("EditRegionGroup", "Home")">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Abbv</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                foreach (var result in Model.SearchResults)
                {
                    <tr class="search-result">
                        <td>@result.ID</td>
                        <td>@result.Name</td>
                        <td>@result.Abbreviation</td>
                        <td><input type="button" value="Edit" class="edit-button" /></td>
                        <td><input type="button" value="Delete" class="delete-button" /></td>
                    </tr>
                }
            }
            @if (!Model.ValidResults)
            {
                <tr>
                    <th>No Results</th>
                </tr>
            }
        </table>
    }
</div>