<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div>
        <div>
            <div class="navigation-bar">
                @if (!Request.IsAuthenticated)
                {
                    <h1>Welcome to Borker!</h1>
                }
                @if (Request.IsAuthenticated)
                {
                    <div class="nav-home"></div>
                    <div class="nav-home">@Html.ActionLink("Home", "Index", "Home")</div>
                    <div class="nav-account">@Html.ActionLink("Account", "Account", "Account")</div>
                    <div class="nav-logout">@Html.ActionLink("Logout", "Logout", "Login")</div>
                    <div class="nav-home"></div>
                }
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <footer>
            <div class="navigation-bar-bottom">
                @if (!Request.IsAuthenticated)
                {
                    <h1>Welcome to Borker!</h1>
                }
                @if (Request.IsAuthenticated)
                {
                    <div class="nav-home"></div>
                    <div class="nav-about">@Html.ActionLink("About", "About", "Home")</div>
                    <div class="nav-home"></div>
                    <div class="nav-contact">@Html.ActionLink("Contact", "Contact", "Home")</div>

                }
            </div>
        </footer>
    </div>
    

    @RenderSection("scripts", required: false)
</body>
</html>
