@using Calrom.Training.SocialMedia.Web.Models
@model AccountViewModel

@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Content/account/scripts")

<div class="background-shibe">
    <div class="acc-row">
        <div class="acc-borks">
            <div class="page-container">
                <p class="page-text">Your Borks! Bork!</p>
            </div>
            <ul>
                @if (Model.HasBorks)
                {
                    foreach (var bork in Model.CurrentUser.UserBorks)
                    {
                        <div class="bork-container">
                            <div class="image-container">
                                <img src="@Model.CurrentUser.UserPP" />
                            </div>
                            <div class="single-bork-acc">
                                <li>@bork.BorkText</li>
                                <li>Borked: @bork.DateBorked</li>
                            </div>
                        </div>
                    }
                }
            </ul>
        </div>
        <div class="acc-borks">
            <div class="box-row">
                <img src=@Model.CurrentUser.UserPP />
                <div class="account-detail-header">
                    <p class="page-text">Account Details</p>
                </div>
            </div>
            <div class="account-detail-container">
                <div>ID: [@Model.CurrentUser.UserId]</div>
                <div>Username: @Model.CurrentUser.UserName </div>
                <div>Following: @Model.CurrentUser.FollowingId.Count()</div>
                <div>Followers: @Model.CurrentUser.FollowerId.Count()</div>
            </div>
            @if (!Model.IsCurrentUser)
            {
                if (!Model.FollowsUser)
                {
                    @Html.Hidden("userId", Model.CurrentUser.UserId, new { value = Model.CurrentUser.UserId })
                    <input type="submit" class="follow-button" value="Follow User" />
                }
                if (Model.FollowsUser)
                {
                    @Html.Hidden("userId", Model.CurrentUser.UserId, new { value = Model.CurrentUser.UserId })
                    <input type="submit" class="follow-button" value="Unfollow User" />
                }
            }

            @if (Model.IsCurrentUser)
            {
                <div class="acc-borks">
                    <div class="page-container">
                        <p class="page-text">Your Borkifications!</p>
                    </div>
                    <ul>
                        @if (Model.HasNotifications)
                        {
                            foreach (var notif in Model.CurrentUser.Notifications)
                            {
                                using (Html.BeginForm("Account", "Account", FormMethod.Post))
                                {
                                    @Html.Hidden("userId", notif.UserId, new { value = notif.UserId })
                                    <div class="bork-container">
                                        <div class="image-container">
                                            <img src="@notif.UserPP" />
                                        </div>
                                        <div class="single-bork">
                                            <input type="submit" class="fake-button" value=@notif.Username />
                                            <li>@notif.Text</li>
                                            <li>Borked: @notif.DateCreated</li>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>