@model Calrom.Training.AuctionHouse.Web.Models.AccountViewModel

@{
    ViewBag.Title = "User Account";
}

<h2>@ViewBag.Title.</h2>

<table class="listing">
    <tr>
        User ID: @Model.UserID
        Username: @Model.Username
        Date of Birth: @Model.DateOfBirth
    </tr>
</table>

<h3>Live products</h3>
@if (Model.ItemIDS != null)
{
    foreach (var item in Model.ItemIDS)
    {
        <table class="listing">
            <tr>
                Item ID: @item
                @*Item Name: @item.ItemName
                Amount Bidded: @item.Amount*@
                Product Link: @Html.ActionLink("View this listing", "IndividualProduct", "Product", new { ItemId = item }, null)
            </tr>
        </table>
    }
}