@model Calrom.Training.AuctionHouse.Database.UserDatabaseModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Login Page.</h3>

<div>
    @Html.ValidationMessage("Invalid");
    @using (Html.BeginForm("GetLogin", "Login", FormMethod.Get))
    {
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
        <input type="submit" value="Submit">
    }
    <p>@Html.ActionLink("Register", "NewUser", "Login")</p>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:ufooolat@calrom.com">ufoolat@calrom.com</a><br />
</address>