<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Auction House</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <div>
            <div class="title">
                @Html.ActionLink("Uzair's Auction House", "Index", "Home")
            </div>
            <div>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Listings", "Listings", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <!--<hr />-->
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Uzair Foolat - Calrom</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
